<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Logout</title>
  <link th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" rel="stylesheet" >
</head>
<body>
<div class="container">
  <h1 class="my-3">ログアウトしました</h1>
  <hr class="mb-5">
  <form th:action="@{/}">
    <input type="submit" class="btn btn-primary" value="ログイン画面に戻る">
  </form>
</div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>